<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DingoDan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A74C377C1F38721000B0B316</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A784FD0A1F38625B0088A87A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A784FD1E1F38625C0088A87A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
